/* Intro Animation Styles */
.intro-animation.svelte-zx8le4 {
  position: fixed;
  right: 20%;
  top: 33%;
  width: 350px;
  aspect-ratio: 1;
  z-index: 3;
  pointer-events: none;
  mix-blend-mode: lighten;
}

[data-firstVisit=true] .intro-animation {
  animation: svelte-zx8le4-intro 10s ease-in-out forwards;
}

.blobs-wrapper.svelte-zx8le4 {
  --x: 0px;
  --y: 0px;
  --scale: 1;
  position: absolute;
  opacity: .1;
  transform: translate3d(var(--x), var(--y), 0) scale(var(--scale));
  filter: blur(20px);
}

@media (min-width: 768px) {
  .blobs-wrapper.svelte-zx8le4 {
    opacity: .5;
  }
}

@media (min-width: 1024px) {
  .blobs-wrapper.svelte-zx8le4 {
    opacity: .8;
  }
}

.blob.svelte-zx8le4 {
  --animation-duration: 5s;
  position: absolute;
  filter: blur(20px);
  mix-blend-mode: overlay;
  opacity: .8;
  animation: svelte-zx8le4-breathe var(--animation-duration) infinite alternate ease-in-out,
             svelte-zx8le4-move 20s infinite alternate ease-in-out,
             svelte-zx8le4-fade 10s var(--animation-duration) infinite alternate ease-in-out;
}

.blob-inner.svelte-zx8le4 {
  aspect-ratio: 1;
  width: 350px;
}

#blob-1.svelte-zx8le4 {
  --offsetX: 0px;
  --offsetY: 0px;
  filter: blur(20px);
  background: linear-gradient(30deg, #ff4e96, #fc0086, #e40079 50%, #b4005e);
  background: linear-gradient(30deg, color(xyz 0.558 0.277 0.305), color(xyz 0.468 0.221 0.243), color(xyz 0.388 0.173 0.19) 50%, color(xyz 0.255 0.098 0.108));
}

#blob-2.svelte-zx8le4 {
  --offsetX: 0px;
  --offsetY: 0px;
  filter: blur(20px);
  transform: translate3d(var(--offsetX), var(--offsetY), 0);
  background: linear-gradient(60deg, #00736e, #008b8d 50%, #00979d, #02a4ad);
  background: linear-gradient(60deg, color(xyz 0.085 0.134 0.174), color(xyz 0.138 0.204 0.288) 50%, color(xyz 0.171 0.247 0.36), #02a4ad);
}

#blob-3.svelte-zx8le4 {
  --offsetX: 0px;
  --offsetY: 0px;
  filter: blur(20px);
  transform: translate3d(var(--offsetX), var(--offsetY), 0);
  background: linear-gradient(90deg, #003441, #003249, #002d5d 25%, #002375, #15008e, #210089, #2b0082 50%, #3d006f, #440065);
  background: linear-gradient(90deg, color(xyz 0.024 0.03 0.161), color(xyz 0.032 0.027 0.19), color(xyz 0.042 0.024 0.222) 25%, color(xyz 0.047 0.023 0.239), #15008e, color(xyz 0.057 0.02 0.276), color(xyz 0.063 0.018 0.295) 50%, color(xyz 0.089 0.011 0.382), color(xyz 0.119 0.004 0.483));
}

@keyframes svelte-zx8le4-move {
  0% {
    translate3d: 0% 0% 0;
    border-radius: 60% 40% 30% 70%/100% 85% 92% 74%;
  }
  50% {
    translate3d: -5% 15% -5%;
    border-radius: 20% 71% 47% 70%/81% 15% 22% 54%;
    rotate: 41deg;
  }
  to {
    translate3d: 0% -5% 0;
    border-radius: 100% 75% 92% 74%/60% 80% 30% 70%;
    rotate: -120deg;
  }
}

@keyframes svelte-zx8le4-breathe {
  0% {
    scale: var(--scale-min);
  }
  to {
    scale: var(--scale-max);
  }
}

@keyframes svelte-zx8le4-fade {
  0% {
    opacity: .8;
  }
  to {
    opacity: .4;
  }
}

@keyframes svelte-zx8le4-intro {
  0% {
    scale: 0;
    opacity: 0;
    translate: -200px 0%;
  }
  20% {
    scale: 1;
    opacity: .9;
    translate: -80% 0%;
  }
  30% {
    scale: 1;
    opacity: .9;
    translate: -80% 0%;
  }
  60% {
    scale: 1;
    opacity: 1;
    translate: 0% 0%;
  }
  to {
    scale: 1;
    opacity: 1;
    translate: 0% 0%;
  }
}

/* Hero Text Animation */
.hero-text.svelte-1r2etls {
  opacity: 1;
  transition: opacity 1s 3s ease-in-out;
}

@starting-style {
  [data-firstVisit=true] .hero-text {
    opacity: 0;
  }
}

/* Dot Background Styles */
.dots.svelte-65uuke {
  background-image: radial-gradient(transparent 1px, #10100e 1px);
  background-size: 4px 4px;
  z-index: 40;
  background-color: transparent;
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.gradient-blur.svelte-65uuke {
  -webkit-mask: linear-gradient(0deg, black, transparent 80%);
  mask: linear-gradient(0deg, black, transparent 80%);
}

/* Random Rotation Animation */
.random-rotate.svelte-18124cv {
  transform: rotate(var(--rotate)) scale(1.5);
}